header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: RGB(4,22,86);
    padding: 10px 20px;
    color: white;
}

body{
    width: 100%;
}
header nav {
    display: flex;
    gap: 20px;
}

#subscribeSectionform {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    background-color: RGB(4,22,86);
    color: white;

}

#imageSection {
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#Webtitle{
    text-align: center;
}
#WebDevelop {
    background-color: orange;
    padding: 20px;
    color: white;
}

footer {
    background-color: RGB(4,22,86);
    text-align: center;
    padding: 10px;
    color: white;
}




