h1{
    border-left: 3px solid black;
    border-bottom: 5px solid black;
    border-right: 3px solid black;
    border-radius: 3px;
    font: bold  30px 'Times New Roman', serif;
    margin:10px;
    padding: 10px;
    width: 300px; 
    height: 70px;
    color: white;
}

ul{
    list-style: circle;
    color: white;
    margin:10px;
    padding: 20px
}
h2{
    border-bottom: 3px solid black;
    border-radius: 3px;
    font: bold  20px 'Times New Roman', serif;
    padding: 5px;
    width: 200px;
    color: white;
}
h3{
    width: 300px;
    font: bold 'Times New Roman';
    margin:5px;
    padding: 2px;
    color: white;
}
h4{
    font: bold  15px 'Times New Roman';
    color: white;
}

p{
    font: 14px 'Times New Roman';
    color: white;
}
.main {
    border-bottom: 3px solid black;
    border-radius: 3px;
    font: bold  315x 'Times New Roman', serif;
    width: 150px; 
    color: white;

}

.css{
    border-left: 3px solid black;
    border-bottom: 5px solid black;
    border-right: 3px solid black;
    border-radius: 3px;
    font: bold  30px 'Times New Roman', serif;
    margin:10px;
    padding: 10px;
    width: 200px; 
    height: 30px;
    color: white;
}

body{
    background-color: rgb(171,13,37);
}

table{
    color: white;
}